/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    height: 100%;
    font-size: 14px;
    color: #252b42;
    min-height: 100vh;
    letter-spacing: 0.2px;
}

#root {
    position: relative;
}

#authWindow {
    display: none;
}

body,
#root {
    height: 100%;
}

ul {
    list-style: none;
}

/* container */
.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1066px;
}

.firstSection {
    display: flex;
    max-width: 727px;
    min-height: 280px;
    flex-direction: column;
    justify-content: center;
}

.firstSection,
.secondSection {
    margin-top: 80px;
}

.secondSection {
    padding-bottom: 62px;
}

/* buttons and links */
button {
    cursor: pointer;
    background: none;
    color: #ff685b;
    font-weight: 700;
    border-radius: 5px;
    padding: 14px 39px;
    letter-spacing: inherit;
    border: 1px solid #ff685b;
    transition: all 0.3s ease-in-out;
}

button:hover {
    color: #fff;
    background-color: #ff685b;
}

a {
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #737373;
    line-height: 24px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
a:hover {
    text-decoration: underline;
}

input {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    overflow: hidden;
    border-radius: 5px;
}

input:focus {
    border-radius: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@600&display=swap");

@media (max-width: 750px) {
    .firstSection {
        min-height: 213px;
        margin-top: 38px;
    }
    .secondSection {
        margin-top: 10px;
    }
}
